<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Discount Calculation</title>
</head>
<body>
<h1>Discount Calculation</h1>
<form>
    <table>
        <tr>
            <td>Amount </td>
            <td><input type="number" name="amount" /></td>
        </tr>
        <tr>
            <td>Discount Rate </td>
            <td><input type="number" name="rate" /></td>
        </tr>
    </table>
    <p></p>
    <input type="submit" value="Calculate Discount" />
    <p></p>
    <h3>{{discount}}</h3>
</form>
</body>
</html>